.todo-description {
    background: transparent;
    border: 1px solid #202020;
    padding: 8px 10px;
    font-size: 1em;
    margin: 3px 0 0 0;
    width: 275px;
    height: 100px;
    user-select: none;
}